.header{
  background-color: #212121;
  text-align: center;
  padding-top: 30px;
}
.container{
  justify-content: center;
}

.header__social {
  justify-content: space-between;
}
.header__social li{
  list-style: none;
}
.header__social li i{
  color: white;
}
.header__search input{
  background-color: #212121;
  color: white;
  border: none;
  border-color: transparent;
}
.header__search li{
  list-style: none;
  display:inline;
  text-align: left;
}
::placeholder {
  color: white;
  border: none;
  text-align: left;
}
.header__search i{
  color: white;
}
.header__nav-wrap{
  margin-top: 15px;
  border-top: solid;
  border-color: lightgrey;
  border-width: 1px;
  justify-content: center;
}
.header__nav-wrap ul{
  margin-top: 15px;
}
.header__nav-wrap ul li{
  display: inline-block;
  position: relative;
  padding: 0 2rem;
  list-style: none;
}
.header__nav-wrap ul li a{
  color:rgb(118, 118, 118);
  font-size: large;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
}
.header__nav-wrap ul li a:hover{
  color: white;
}

.mainfooter{
  width: 100%;
  position: absolute;
  bottom: 0;
}