.avatar{
  height: 80px;
  width: 80px;
  border-radius: 50%;
}
.content{
  margin-top: 60px;
}
.side__items{
  margin-top: 10px;
  margin-left: 100px;
  margin-bottom: 10px;
}
.side__items a{
  color: #212121;
}