.avatar{
  height: 80px;
  width: 80px;
  border-radius: 50%;
}
.content{
  margin-top: 60px;
}

.side__item{
  list-style: none;
  padding: 10px 0px 10px 40px;
}
.side__item a{
  color: #212121;
}
.side__item a:hover{
  text-decoration: none;
}
.side__avatar{
 padding: 0px 0px 0px 0px;
 margin: 0px;
}

.content__price__original{
  padding-top: 30px;
}
.content__item{
  margin-top: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: solid 1px #212121;
}
.content__item__order{
  padding-bottom: 20px;
}
.order-detail-payment__item{
  justify-content: flex-end;
  text-align: end;
}
.order-detail-payment__item__description{
  padding: 0.8125rem 0.625rem 0.8125rem 0.625rem;
  border-right: dotted 1px gray;
  border-bottom: dotted 1px gray;
}
.order-detail-payment__item__value{
  padding: 0.8125rem 0.625rem 0.8125rem 0.625rem;
  border-bottom: dotted 1px gray;
}
.order-detail-payment__type{
  border-top: solid 1px black;
  margin-top: 20px;
  justify-content: flex-end;
  text-align: end;
}
